<%= form_for(@request_type) do |f| %>
  <% if @request_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request_type.errors.count, "error") %> prohibited this request_type from being saved:</h2>

      <ul>
      <% @request_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombre" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Descripcion" %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label "Estado" %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit "Crear" %>
  </div>
<% end %>
