<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Titulo" %><br />
    <%= f.text_field :title, :size => 71 %>
  </div>
  <div class="field">
    <%= f.label "Peticion" %><br />
    <%= f.text_area :content, :rows => 20, :cols => 90 %>
  </div>
  <div class="field">
    <%= f.label "Tipo" %><br />
    <%= collection_select ( :type, :request_type_id, RequestType.all, :id, :name, { :include_blank => true }) %>
  </div>
  <div class="field">
    <%= check_box_tag(:is_private) %>
    <%= label_tag(:is_private, "Esta peticion es privada") %>
  </div>
  <div class="actions">
    <%= f.submit "Crear" %>
  </div>
<% end %>
